<li id="comment-<%=comment._id%>">
    <p>

        <!-- change :adding like toggle tag -->
        <small>
            <%if(locals.user){%>
                <a class="toggle-like-button" data-likes="<%=comment.likes.length%>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                    <%=comment.likes.lenght%>Likes
                </a>
            <%}else{%>
                <%=comment.likes.length%>
            <%}%>
        </small>

        <!-- to show delete button only to logged in user and the user who created -->
        <%if(locals.user.id && locals.user.id == comment.user.id) { %>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%=comment.id%>">X</a>
            </small>
        <%}%>
                <%= comment.content%>
                    <br>
                    <small>
                        <%= comment.user.name %>
                    </small>
    </p>
    </li>
    